// Font-awesome
@import url('https://use.fontawesome.com/releases/v5.0.7/css/all.css');

// Functionality
@import "src/stylesheets/variables";
@import "src/stylesheets/mixins";
html {
  body {
  // footer
    footer {
      font-size: $font-sm;
      background-color: rgb(13, 13, 13);
      padding: 5vh 10vw;
      color: rgb(222, 222, 222);
      @include breakpoint-up (large) {
        font-size: $font-sm;
        padding: 2.5vh 5vw;
      }
      a {
        &:hover {
          color: white;
        }
      }
      .site-map {
        @include breakpoint-up (medium) {
          display: flex;
          justify-content: center;
          text-align: center;
        }
        a, p {
          margin-right: 0rem;
          @include breakpoint-up (large) {
            margin-right: 2.5rem;
          }
        }
        .f-link:not(:last-child) {
          margin-bottom: .5rem;
          @include breakpoint-up (large) {
            margin-bottom: 0rem;
          }
        }
        .f-link-container {
          @include breakpoint-up (large) {
            display: flex;
            justify-content: space-around;
          }
        }
      }
      .f-link {
        padding: .25rem;
      }

      .f-link a {
        margin-right: 0rem;
        @include breakpoint-up (large) {
          margin-right: 2.5rem;
        }
      }

      .f-link p {
        margin-right: 0rem;
        @include breakpoint-up (large) {
          margin-right: 2.5rem;
        }
      }
    }
    // content - visibility state
    .hide-for-mobile {
     @include breakpoint-down(medium) {
      display: none;
     }
    }
    .hide-for-desktop {
     @include breakpoint-up(large) {
      display: none;
     }
  }
 }
}
