<nav class="main-nav flex flex-ai-c flex-jc-sb">
    <div class="top-logo flex flex-ai-c">
        <a href="#">Darkan</a>
    </div>
    <div class="hamburger hide-for-desktop">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="flex flex-ai-c hide-for-mobile">
        <div class="dropdown">
            <p class="dropbtn flex flex-ai-c">Explore<i class="fas fa-caret-down dwn-arrow"></i></p>
                <div class="dropdown-content">
                    <ul class="dropdown-links">
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Guides</a></li>
                    </ul>
                </div>
        </div>
        <a href="#">Highscores</a>
        <div class="dropdown">
        <p class="dropbtn flex flex-ai-c">Tools<i class="fas fa-caret-down dwn-arrow"></i></p>
            <div class="dropdown-content">
                <ul class="dropdown-links">
                    <li><a href="#">GE Tracker</a></li>
                    <li><a href="#">Skill Calculator</a></li>
                    <li><a href="#">Bug Reporter</a></li>
                    <li><a href="#">World Map</a></li>
                    <li><a href="#">API Documents</a></li>
                </ul>
            </div>
        </div>
        <a href="#">Signup</a>
        <a href="#">Login</a>
        <a href="#" class="cta-dwnl">Download</a>
    </div>
</nav>
<div class="download-main-container">
    <h1>Download Darkan</h1>
    <div class="download-sub-container">
        <div>
            <button class="download-client1">
            <h2>Download for Windows</h2>
            </button>
        </div>
        <div>
            <button class="download-client2">
            <h2>Download for All Platforms</h2>
            </button>
            </div>
        </div>
</div>
<footer class="flex flex-jc-sb flex-ai-c">
    <div class="site-map flex flex-ai-c flex-jc-c">
        <p class="hide-for-mobile">Site Map</p>
        <a href="#" class="hide-for-desktop">Site Map</a>
        <div class="hide-for-mobile">
            <a href="/home">Home</a>
            <a href="/signup">Sign Up</a>
            <a href="/login">Log In</a>
            <a href="/download">Download</a>
            <a href="/highscores">Highscores</a>
            <a href="/tools">Tools</a>
            <a href="/discord">Discord</a>
            <a href="/developers">Developers</a>
            <a href="/faq">FAQ</a>
        </div>        
    </div>
    <div></div>
        <a href="#">Darkan</a>
    </div>
    <div class="legal flex flex-ai-c flex-jc-c">
        <p>No in-game purchases</p>
        <p>Darkan @ 2022</p>
        <div>
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
        </div>
    </div>
</footer>