<nav class="main-nav flex flex-ai-c flex-jc-sb">
    <div class="top-logo flex flex-ai-c">
        <a href="/home">Darkan</a>
    </div>
    <div class="hamburger hide-for-desktop">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="flex flex-ai-c hide-for-mobile">
        <div class="dropdown">
            <p class="dropbtn flex flex-ai-c">Explore<i class="fas fa-caret-down dwn-arrow"></i></p>
                <div class="dropdown-content">
                    <ul class="dropdown-links">
                        <li><a href="/features">Features</a></li>
                        <li><a href="/guides">Guides</a></li>
                    </ul>
                </div>
        </div>
        <a href="/highscores">Highscores</a>
        <div class="dropdown">
        <p class="dropbtn flex flex-ai-c">Tools<i class="fas fa-caret-down dwn-arrow"></i></p>
            <div class="dropdown-content">
                <ul class="dropdown-links">
                    <li><a href="/ge-tracker">GE Tracker</a></li>
                    <li><a href="/skill-calculator">Skill Calculator</a></li>
                    <li><a href="/bug-reporter">Bug Reporter</a></li>
                    <li><a href="/world-map">World Map</a></li>
                    <li><a href="/api">API Documents</a></li>
                </ul>
            </div>
        </div>
        <a href="/create-account">Create account</a>
        <a href="/login">Login</a>
        <a href="/assets/uploads/files/Darkan.exe" class="cta-dwnl">Download</a>
    </div>
</nav>

<div class="main-container-highscores">
    <div class="sub-container-highscores">
        <div class="header-highscores">
            <h1>Highscores</h1>
            <h2>Track, Compare, Achieve Rank #1</h2>
        </div>
        <nav class="flex flex-jc-c flex-ai-c">
            <a href="#" class="button-hover">All Time</a>
            <a href="#" class="button-hover">Weekly</a>
            <a href="#" class="button-hover">Monthly</a>
        </nav>
        <div class="sub-header-hs">
            <h2 id="hs-overall">Overall</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore tenetur beatae repellat delectus incidunt ipsa facere!</p>
            <div>
                <select class="filter-skill-hs">
                    <option>Skill</option>
                </select>
                <select class="filter-account-hs">
                    <option>All</option>
                    <option>Regular</option>
                    <option>Ironman</option>
                    <option>Hardcore Ironman</option>
                    <option>Ultimate Ironman</option>
                </select>
                <input id="search-user-hs" type="text" name="Username" placeholder="Search Username" value="">
            </div>
        </div>
        <div class="flex flex-jc-c">
            <table>
                <thead>
                    <th id="rank">Rank</th>
                    <th id="player">Player</th>
                    <th id="level">Level</th>
                    <th id="exp">Exp</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer class="flex flex-jc-sb flex-ai-c">
    <div class="site-map flex flex-ai-c flex-jc-c">
        <p class="hide-for-mobile">Site Map</p>
        <a href="#" class="hide-for-desktop">Site Map</a>
        <div class="hide-for-mobile">
            <a href="/home">Home</a>
            <a href="/create-account">Create account</a>
            <a href="/login">Log In</a>
            <a href="/download">Download</a>
            <a href="/highscores">Highscores</a>
            <a href="/tools">Tools</a>
            <a href="/discord">Discord</a>
            <a href="/developers">Developers</a>
            <a href="/faq">FAQ</a>
        </div>        
    </div>
    <div></div>
        <a href="#">Darkan</a>
    </div>
    <div class="legal flex flex-ai-c flex-jc-c">
        <p>No in-game purchases</p>
        <p>Darkan @ 2022</p>
        <div>
            <a href="/terms">Terms</a>
            <a href="/privacy-policy">Privacy</a>
        </div>
    </div>
</footer>