<div class="main-container">
    <div class="sub-container flex-ai-c">
    <div class="g1-hero hide-for-mobile">
        <h1>Title</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto praesentium perspiciatis consectetur aliquam unde, quos consequatur atque temporibus molestiae esse eaque ratione assumenda? Ipsa itaque numquam soluta ut est odio.</p>
    </div>
    <form class="g2-form">
        <div>
            <div>
                <div>
                <input type="text" class="log-container" name="email" id="email" data-testid="#" placeholder="Email" autofocus="1" aria-label="Email">
                </div>
                <div>
                    <input type="password" class="pass-container" name="pass" id="pass" data-testid="#" placeholder="Password" aria-label="Password">
                </div>
            </div>
            <button class="log-in">Log In</button>
            <div class="forget-pass">
                <a href="#">Forget Password?</a>
            </div>
            <span></span>
            <button class="create-account">Create Account</button>
        </div>
    </form>
</div>
</div>
<footer></footer>