<nav>
    <a href="#" class="main-page-link"><u>Website</u> <i class="fas fa-external-link-alt"></i></a>
</nav>
<div class="hex"></div>
<div class="main-container">
    <div class="sub-container flex-ai-c">
    <div class="g1-hero">
        <h1>Darkan</h1>
        <h2>A 2012 Runescape remake.</h2>
        <div class="dwn-client hide-for-mobile">
            <button class="dwn-btn1">
                <a href="/assets/uploads/files/Darkan.exe"></span>Download <i class="pf-icon fab fa-windows"></i></a>
            </button>
            <button class="dwn-btn2">
                <a href="/assets/uploads/files/Darkan.jar">Download <i class="pf-icon fab fa-apple"></i> <i class="pf-icon fab fa-linux"></i></a>
            </button>
        </div>
    </div>
    <form class="g2-form">
        <div>
            <div>
                <div>
                <input type="text" class="log-container" name="email" id="email" data-testid="#" placeholder="Email" autofocus="1" aria-label="Email">
                </div>
                <div>
                    <input type="password" class="pass-container" name="pass" id="pass" data-testid="#" placeholder="Password" aria-label="Password">
                </div>
            </div>
            <button class="log-in">Log In</button>
            <div class="forget-pass">
                <a href="#">Forget Password?</a>
            </div>
            <span></span>
            <button class="create-account">Create Account</button>
        </div>
    </form>
</div>
</div>
<footer class="flex flex-jc-sb flex-ai-c">
    <div class="site-map flex flex-ai-c flex-jc-c">
        <p class="hide-for-mobile">Site Map</p>
        <a href="#" class="hide-for-desktop">Site Map</a>
        <div class="hide-for-mobile">
            <a href="#">Home</a>
            <a href="#">Sign Up</a>
            <a href="#">Log In</a>
            <a href="#">Download</a>
            <a href="#">Vote</a>
            <a href="#">Highscores</a>
            <a href="#">Tools</a>
            <a href="#">Discord</a>
            <a href="#">Developers</a>
            <a href="#">Education</a>
        </div>        
    </div>
    <div>
        <a href="#">Darkan</a>
    </div>
    <div class="legal flex flex-ai-c flex-jc-c">
        <p>Darkan @ 2022</p>
        <div>
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
        </div>
    </div>
</footer>