<nav class="top-nav">
    <a href="#">Logo</a>
    <div class="main-nav">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </div>
</nav>