<nav class="main-nav flex flex-ai-c flex-jc-sb">
    <div class="top-logo flex flex-ai-c">
        <a href="#">Darkan</a>
    </div>
    <div class="hamburger hide-for-desktop">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="flex flex-ai-c hide-for-mobile">
        <div class="dropdown">
            <p class="dropbtn flex flex-ai-c">Explore<i class="fas fa-caret-down dwn-arrow"></i></p>
                <div class="dropdown-content">
                    <ul class="dropdown-links">
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Guides</a></li>
                    </ul>
                </div>
        </div>
        <a href="#">Highscores</a>
        <div class="dropdown">
        <p class="dropbtn flex flex-ai-c">Tools<i class="fas fa-caret-down dwn-arrow"></i></p>
            <div class="dropdown-content">
                <ul class="dropdown-links">
                    <li><a href="#">GE Tracker</a></li>
                    <li><a href="#">Skill Calculator</a></li>
                    <li><a href="#">Bug Reporter</a></li>
                    <li><a href="#">World Map</a></li>
                    <li><a href="#">API Documents</a></li>
                </ul>
            </div>
        </div>
        <a href="#">Signup</a>
        <a href="#">Login</a>
        <a href="/assets/uploads/files/Darkan.exe" class="cta-dwnl">Download</a>
    </div>
</nav>
<div class="login-main-container">
    <h1>Welcome to Darkan</h1>
    <div class="login-sub-container flex-ai-c">
    <form class="login-form">
        <h2>Login</h2>
        <div>
            <div>
                <div>
                    <input type="text" class="log-container" name="email" id="email" data-testid="#" placeholder="Email" autofocus="1" aria-label="Email">
                </div>
                <div>
                    <input type="password" class="pass-container" name="pass" id="pass" data-testid="#" placeholder="Password" aria-label="Password">
                </div>
            </div>
            <button class="log-in">Log In</button>
            <div class="forget-pass">
                <a href="#">Forget Password?</a>
            </div>
            <button class="create-account">Create Account</button>
        </div>
        <a href="#" class="cta-discord"><u>Join our Discord</u>!</a>
    </form>
    </div>
</div>
<footer class="flex flex-jc-sb flex-ai-c">
    <div class="site-map flex flex-ai-c flex-jc-c">
        <p class="hide-for-mobile">Site Map</p>
        <a href="#" class="hide-for-desktop">Site Map</a>
        <div class="hide-for-mobile">
            <a href="/home">Home</a>
            <a href="/signup">Sign Up</a>
            <a href="/login">Log In</a>
            <a href="/download">Download</a>
            <a href="/highscores">Highscores</a>
            <a href="/tools">Tools</a>
            <a href="/discord">Discord</a>
            <a href="/developers">Developers</a>
            <a href="/faq">FAQ</a>
        </div>        
    </div>
    <div></div>
        <a href="#">Darkan</a>
    </div>
    <div class="legal flex flex-ai-c flex-jc-c">
        <p>No in-game purchases</p>
        <p>Darkan @ 2022</p>
        <div>
            <a href="/terms">Terms</a>
            <a href="/privacy-policy">Privacy</a>
        </div>
    </div>
</footer>