<nav class="main-nav flex flex-ai-c flex-jc-sb">
    <div class="top-logo">
        <a href="#">Darkan</a>
    </div>
    <div class="hamburger hide-for-desktop">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="flex flex-ai-c hide-for-mobile">
        <div class="dropdown">
        <p class="dropbtn flex flex-ai-c">Link<i class="fas fa-caret-down"></i></p>
            <div class="dropdown-content shadow-dropdown">
                <ul class="dropdown-links">
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
        </div>
        <div>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
        </div>
    </div>
</nav>
<div class="signup-main-container">
    <div class="signup-sub-container flex-ai-c">
    <form class="signup-form">
        <div>
            <div>
                <h2>Create your account</h2>
                <div>
                    <input type="username" class="username-container" id="username-input" aria-describedby="username-error" placeholder="Username">
                </div>
                <div>
                    <input type="text" class="log-container" name="email" id="email" data-testid="#" placeholder="Email" autofocus="1" aria-label="Email">
                </div>
                <div>
                    <input type="password" class="pass-container" name="pass" id="pass" data-testid="#" placeholder="Password" aria-label="Password">
                </div>
                <div>
                    <input type="password" class="confirm-pass-container" name="pass" id="pass" data-testid="#" placeholder="Confirm Password" aria-label="Password">
                </div>
            </div>
            <p>By signing up for a Darkan account you agree to our <a href="#"><u>Privacy policy</u></a> and <a href="#"><u>Terms of Service</u>.</a></p>
            <button class="create-account">Create Account</button>
            <a href="#">Already have an account?</a>
        </div>
        <iframe title="reCAPTCHA" class= "reCAPTCHA"src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Lfob18UAAAAAEx08Pvihg-vpSZ_wsFtG1aPotQw&amp;co=aHR0cHM6Ly9kYXJrYW4ub3JnOjQ0Mw..&amp;hl=en&amp;v=-FJgYf1d3dZ_QPcZP7bd85hc&amp;size=normal&amp;cb=78e0ggyrm14f" width="304" height="78" role="presentation" name="a-ftya7z1zz8lb" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"></iframe>
    </form>
    </div>
</div>
<footer class="flex flex-jc-sb flex-ai-c">
    <div class="site-map flex flex-ai-c flex-jc-c">
        <p class="hide-for-mobile">Site Map</p>
        <a href="#" class="hide-for-desktop">Site Map</a>
        <div class="hide-for-mobile">
            <a href="#">Home</a>
            <a href="/signup">Sign Up</a>
            <a href="#">Log In</a>
            <a href="#">Download</a>
            <a href="#">Vote</a>
            <a href="#">Highscores</a>
            <a href="#">Tools</a>
            <a href="#">Discord</a>
            <a href="#">Developers</a>
            <a href="#">Education</a>
            <a href="#">FAQ</a>
        </div>        
    </div>
    <div>
        <a href="#">Darkan</a>
    </div>
    <div class="legal flex flex-ai-c flex-jc-c">
        <p>Darkan @ 2022</p>
        <div>
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
        </div>
    </div>
</footer>