<nav class="main-nav flex flex-ai-c flex-jc-sb">
    <div class="top-logo flex flex-ai-c">
        <a href="/home">Darkan</a>
    </div>
    <div class="hamburger hide-for-desktop">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="flex flex-ai-c hide-for-mobile">
        <div class="dropdown">
            <p class="dropbtn flex flex-ai-c">Explore<i class="fas fa-caret-down dwn-arrow"></i></p>
                <div class="dropdown-content">
                    <ul class="dropdown-links">
                        <li><a href="/features">Features</a></li>
                        <li><a href="/guides">Guides</a></li>
                    </ul>
                </div>
        </div>
        <a href="#">Highscores</a>
        <div class="dropdown">
        <p class="dropbtn flex flex-ai-c">Tools<i class="fas fa-caret-down dwn-arrow"></i></p>
            <div class="dropdown-content">
                <ul class="dropdown-links">
                    <li><a href="/ge-tracker">GE Tracker</a></li>
                    <li><a href="/skill-calculator">Skill Calculator</a></li>
                    <li><a href="/bug-reporter">Bug Reporter</a></li>
                    <li><a href="/world-map">World Map</a></li>
                    <li><a href="/api">API Documents</a></li>
                </ul>
            </div>
        </div>
        <a href="/create-account">Create account</a>
        <a href="/login">Login</a>
        <a href="/assets/uploads/files/Darkan.exe" class="cta-dwnl">Download</a>
    </div>
</nav>
<div class="main-container-calc">
    <div class="header-image">
        <h1>Skill Calculator</h1>
        <h2>Calculate your target experience or level in any skill.</h2>
    </div>
    <div class="main-container-skills">
        <ul>
            <div class="sub-container-skills flex flex-ai-c">
                <div class="skill1">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Attack</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many NPCs to kill in order to achieve your targeted experience or level in Attack.</h4>
                    </div>
                </div>
                <div class="skill2">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Strength</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many NPCs to kill in order to achieve your targeted experience or level in Strength.</h4>
                    </div>
                </div>
                <div class="skill3">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Defense</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many NPCs to kill in order to achieve your targeted experience or level in Defense.</h4>
                    </div>
                </div>
                <div class="skill4">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Range</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many NPCs to kill in order to achieve your targeted experience or level in Range.</h4>
                    </div>
                </div>
                <div class="skill5">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Magic</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many NPCs to kill in order to achieve your targeted experience or level in Magic.</h4>
                    </div>
                </div>
                <div class="skill6">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Hitpoints</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many NPCs to kill in order to achieve your targeted experience or level in Hitpoints.</h4>
                    </div>
                </div>
                <div class="skill7">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Prayer</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many bones or ashes to sacrifice in order to achieve your targeted experience or level in Prayer.</h4>
                    </div>
                </div>
                <div class="skill8">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Summoning</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many pouches to create in order to achieve your targeted experience or level in Summoning.</h4>
                    </div>
                </div>
                <div class="skill9">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Runecrafting</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many runes to craft in order to achieve your targeted experience or level in Runecrafting.</h4>
                    </div>
                </div>
                <div class="skill10">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Construction</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many surfaces to construct in order to achieve your targeted experience or level in Construction.</h4>
                    </div>
                </div>
                <div class="skill11">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Dungeoneering</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many floors to complete in order to achieve your targeted experience or level in Dungeoneering.</h4>
                    </div>
                </div>
                <div class="skill12">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Agility</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many obstacles to complete in order to achieve your targeted experience or level in Agility.</h4>
                    </div>
                </div>
                <div class="skill13">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Herblore</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many potions to mix in order to achieve your targeted experience or level in Herblore.</h4>
                    </div>
                </div>
                <div class="skill14">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Theiving</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many NPCs or locks to pick in order to achieve your targeted experience or level in Theiving.</h4>
                    </div>
                </div>
                <div class="skill15">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Crafting</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many items to craft in order to achieve your targeted experience or level in Crafting.</h4>
                    </div>
                </div>
                <div class="skill16">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Fletching</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many items to fletch in order to achieve your targeted experience or level in Fletching.</h4>
                    </div>
                </div>
                <div class="skill17">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Slayer</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many tasks to complete in order to achieve your targeted experience or level in Slayer.</h4>
                    </div>
                </div>
                <div class="skill18">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Hunter</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many NPCs to hunt in order to achieve your targeted experience or level in Hunter.</h4>
                    </div>
                </div>
                <div class="skill19">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Mining</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many rocks to mine in order to achieve your targeted experience or level in Mining.</h4>
                    </div>
                </div>
                <div class="skill20">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Smithing</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many bars or items to smelt in order to achieve your targeted experience or level in Smithing.</h4>
                    </div>
                </div>
                <div class="skill21">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Fishing</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many fish to catch in order to achieve your targeted experience or level in Fishing.</h4>
                    </div>
                </div>
                <div class="skill22">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Cooking</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many raw foods to cook in order to achieve your targeted experience or level in Cooking.</h4>
                    </div>
                </div>
                <div class="skill23">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Firemaking</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many logs to burn in order to achieve your targeted experience or level in Firemaking.</h4>
                    </div>
                </div>
                <div class="skill24">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Woodcutting</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many logs to cut in order to achieve your targeted experience or level in Woodcutting.</h4>
                    </div>
                </div>
                <div class="skill25">
                    <div>
                        <div class="skill-title flex flex-ai-c">
                            <p class="skill-icon">[ ]</p>
                            <li><a href="#"><h3>Farming</h3></a></li>
                        </div>
                    </div>
                    <div class="skill-description">
                        <h4>Calculate how many patches to harvest in order to achieve your targeted experience or level in Farming.</h4>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>
<footer class="flex flex-jc-sb flex-ai-c">
    <div class="site-map flex flex-ai-c flex-jc-c">
        <p class="hide-for-mobile">Site Map</p>
        <a href="#" class="hide-for-desktop">Site Map</a>
        <div class="hide-for-mobile">
            <a href="/home">Home</a>
            <a href="/create-account">Create account</a>
            <a href="/login">Log In</a>
            <a href="/download">Download</a>
            <a href="/highscores">Highscores</a>
            <a href="/tools">Tools</a>
            <a href="/discord">Discord</a>
            <a href="/developers">Developers</a>
            <a href="/faq">FAQ</a>
        </div>        
    </div>
    <div></div>
        <a href="#">Darkan</a>
    </div>
    <div class="legal flex flex-ai-c flex-jc-c">
        <p>No in-game purchases</p>
        <p>Darkan @ 2022</p>
        <div>
            <a href="/terms">Terms</a>
            <a href="/privacy-policy">Privacy</a>
        </div>
    </div>
</footer>