// Font-awesome
@import url('https://use.fontawesome.com/releases/v5.0.7/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
// Functionality
@import "src/stylesheets/variables";
@import "src/stylesheets/mixins";
.main-container-highscores {
    .sub-container-highscores {
        .highlight {
            background-color: rgb(16, 26, 36) !important;
        }
        .invalid {
            border-color: rgb(255, 114, 118) !important;
        }
        .valid {
            border-color: green !important;
        }
        .multiple-valid {
            border-color: yellow !important;
        }
        .green {
            color: green !important;
        }
        .grey {
            color: grey !important;
        }
        .none {
            display: None;
        }
        .iron-icon {
            height: 1rem;
            width: auto;
            margin-right: 0.25rem;
        }
        color: rgb(222,
        222,
        222);
        margin-bottom: 2rem;
        h1 {
            font-size: $font-xmed;
            margin: 0rem;
            margin-bottom: 1rem;
            @include breakpoint-up (large) {
                font-size: $font-lg;
            }
        }
        h2 {
            margin-top: 0rem;
            @include breakpoint-up (large) {
                font-size: $font-med;
            }
            @include breakpoint-up (xlarge) {
                font-size: $font-xmed;
            }
        }
        h3 {
            margin-top: 0rem;
        }
        .header-highscores {
            text-align: center;
            padding: 5rem 2.5rem;
            @include breakpoint-up (large) {
                padding: 2.5rem 2.5rem;
            }
        }
        a:hover {
            color: white;
        }
        .skill-icon {
            height: 7rem;
        }
        #hs-overall {
            font-size: $font-xmed;
            text-align: center;
            color: rgb(240, 202, 138);
            @include breakpoint-up (large) {
                margin-bottom: 0rem;
            }
            @include breakpoint-up (large) {
                text-align: left;
                font-size: $font-xmed;
            }
        }
        .sub-header-hs {
            margin-right: 5vw;
            margin-left: 5vw;
            margin-bottom: 2.5rem;
            @include breakpoint-up (large) {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
        .skill-icon-hs {
            height: 75px;
        }
        .filter-skill-hs,
        .filter-account-hs,
        .filter-time-hs {
            display: flex;
            font-size: $font-sm;
            color: rgb(222, 222, 222);
            background-color: rgb(20, 30, 40);
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 5px;
            height: 2.75rem;
            width: 10rem;
            cursor: pointer;
            &:not(:last-child) {
                @include breakpoint-up (medium) {
                    margin-right: .5rem;
                }
            }
            @include breakpoint-up (large) {
                margin-bottom: 0rem;
            }
        }
        select {
            appearance: none;
            background-color: transparent;
            border: none;
            border-radius: 2px;
            padding: 0rem 1rem;
            margin-bottom: 1rem;
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            cursor: inherit;
            line-height: inherit;
            outline: none;
            text-align: left;
        }
        .select-hs {
            @include breakpoint-up (medium) {
                display: flex;
            }
        }
        .select-hs-container {
            display: flex;
            justify-content: center;
        }
        .filter-container {
            @include breakpoint-up (large) {
                position: relative;
                left: 2rem;
            }
        }
        .filter-option-container {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            z-index: 999;
        }
        #search-user-hs {
            font-size: $font-sm;
            color: rgb(222, 222, 222);
            padding: .75rem;
            width: 10rem;
            background-color: rgb(5, 10, 20);
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 5px;
            outline: none;
            @include breakpoint-up (medium) {
                min-width: 31rem;
            }
            @include breakpoint-up (large) {
                min-width: 12.5rem;
                margin-top: auto;
            }
        }
        // highscores table
        .hs-table {
            table {
                width: 85vw;
                box-shadow: 5px 0px 30px rgb(0, 0, 0);
                text-align: right;
                border-spacing: 1px;
                @include breakpoint-up (medium) {
                    width: 85vw;
                }
                th {
                    height: 3rem;
                    padding: .75rem;
                    background-color: rgb(10, 20, 30);
                    color: rgb(240, 202, 138);
                }
                td {
                    height: 3rem;
                    text-align: right;
                    padding: .5rem;
                    background-color: rgb(20, 30, 40);
                    p {
                        margin: 0rem;
                    }
                }
                #rank {
                    width: 5rem;
                }
                #player,
                #level,
                #exp {
                    width: 10rem;
                    text-align: left;
                }
                #player {
                    text-align: left;
                    padding-left: 1rem;
                    @include breakpoint-up (medium) {
                        padding-left: 2rem;
                    }
                }
                #player-rank {
                    margin-right: 0rem;
                    cursor: default;
                }
                #player-data-ttl,
                #player-data-exp {
                    cursor: default;
                    text-align: left;
                }
                #player-data-exp {
                    text-align: left;
                }
                .player-hs {
                    text-align: right;
                }
            }
        }
        // footer pagination nav
        .pagination-container {
            padding: 1rem 0rem;
            a {
                background-color: none;
                background-color: rgba(255, 255, 255, 0.06);
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 2px;
                padding: .5rem .75rem;
                &:hover {
                    background-color: rgba(50, 60, 70, 0.75);
                    border-radius: 2px;
                    transition: background-color 200ms ease-in-out;
                }
            }
            ul {
                padding-left: 0rem;
                list-style: none;
            }
            .prev-next {
                position: relative;
                bottom: .05rem;
                padding: .5rem .75rem;
                cursor: pointer;
                &:hover {
                    opacity: 70%;
                    transition: opacity 200ms ease-in-out;
                }
                cursor: pointer;
            }
            .active {
                background-color: rgb(50, 60, 70);
                border: 1px solid rgba(255, 255, 255, 0.1);
            }
            .page-dots {
                padding: .3525rem .55rem;
            }
        }
    }
}
