.download-main-container {
    padding: 2rem 0rem 0rem 0rem;
    min-height: 100vh;
    h1 {
        text-align: center;
        color: white;
    }
    h2 {
        margin-top: 0rem;
        color: rgb(222, 222, 222);
    }

    @include breakpoint-up(large) {
        padding: 2rem 0rem;
    }
    @include breakpoint-up(xlarge) {
        padding-top: 6rem;
    }
}
.download-sub-container {
    text-align: center;
    margin-top: 3rem;

    .download-client1, .download-client2 {
        text-align: center;
        background-color: rgb(36, 40, 46);
        width: 30rem;
        height: 20rem;
        border: none;
        border-radius: 5px;
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        box-shadow: 0px 0px 50px black;
        font-size: $font-med;

        a {
            color: white;
        }
    }

    @include breakpoint-up (medium) {

        .download-client1, .download-client2 {
            text-align: center;
            background-color: rgb(36, 40, 46);
            width: 30rem;
            height: 20rem;
            border: none;
            border-radius: 5px;
            padding: 2rem 1rem;
            margin-bottom: 2rem;
            box-shadow: 0px 0px 50px black;
    
            a {
                color: white;
            }
        }
    }

    @include breakpoint-up (large) {

        display: flex;
        justify-content: center;

        .download-client1 {
            margin-right: 6.5rem;
        }

        .download-client1, .download-client2 {
            text-align: center;
            background-color: rgb(36, 40, 46);
            width: 25rem;
            height: 20rem;
            border: none;
            border-radius: 5px;
            padding: 2rem 1rem;
            margin-bottom: 2rem;
            box-shadow: 0px 0px 50px black;
    
            a {
                color: white;
            }
        }
    }
}
.usr-agree {
    text-align: center;
    font-size: $font-xsm;
    color: rgb(222, 222, 222);
    margin-bottom: 1rem;

    @include breakpoint-up (large) {
        position: relative;
        top: 2rem;
    }
}