html {
    font-size: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    *, *::before, *::after {
        box-sizing: inherit;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5;
        font-size: $font-sm;
        padding: 0rem;
        margin: 0rem;
        background-color: #202020;
        color: black;
        cursor: auto;

        // text design
        a, a:visited, a:hover {
            text-decoration: none;
            color: white;
        }
        
        // button
        .button-hover {
            &:hover {
                opacity: 85%;
                transition: opacity 200ms ease-in-out;
            }
            cursor: pointer;
        }
        
        // drop shadow
        .shadow-dropdown {
            box-shadow: 0px 0px 5px lightgray;
        }

        // alignment
        .flex {
            display: flex;

            &-jc-sb {
                justify-content: space-between;
            }

            &-jc-c {
                justify-content: center;
            }

            &-ai-c {
                align-items: center;
            }
        }

        // visibility state
        .hide-for-mobile {
            @include breakpoint-down(medium){
                display: none;
            }
        }

        .hide-for-desktop {
            @include breakpoint-up(large) {
                display: none;
            }
        }
    }
}