// create acccount form
.signup-main-container {
    padding: 4rem 0rem 0rem 0rem;
    min-height: 100vh;
    background: none;
    display: flex;
    justify-content: center;

    @include breakpoint-up("xlarge") {
        padding-top: 8rem;
    }
}
.signup-sub-container {

    // signup form
    .signup-form {
        text-align: center;
        background-color: rgb(34, 38, 44);
        width: 24rem;
        height: 29.25rem;
        border: none;
        border-radius: 5px;
        padding: 1rem;
        box-shadow: 0px 0px 50px black;

        h1, a, p {
          color: rgb(222, 222, 222);
        }
        h1 {
          font-size: 24px;
        }
        p {
          font-size: $font-xsm;
          margin-top: .25rem;
          color: rgb(222, 222, 222);
        }

        // log & pass
        .username-container, .log-container, .pass-container, .confirm-pass-container {
            width: 21.5rem;
            height: 1rem;
            padding: 1.5rem;
            border: 1.25px;
            border-color: none;
            border-radius: 5px;
            margin-bottom: .75rem;
            background-color: rgb(27, 29, 34);
            color: white;
            font-size: $font-sm;
        }

        // forget password link
        .forget-pass {
            margin: 1rem;
        }

        .create-account {
            width: 10rem;
            padding: 1rem;
            margin-right: 1rem;
            background-color: rgb(38, 62, 82);
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;

            font-size: $font-sm;
            font-weight: 500;
        }

        .reCAPTCHA {
            position: relative;
            top: 4.5rem;
        }
    }
}

// footer
footer {
    background-color: rgb(29, 32, 37);
    font-size: $font-xsm;
    color: white;
    padding: 1rem;

    p {
        margin: 0rem;
    }

    a {
        color: grey;
    }

    .site-map, .legal {
        a:not(:last-child) {
            margin-right: 1rem;
        }
        p {
            margin-right: 1rem;
        }
    }

    @include breakpoint-up(large) {
        height: auto;
    }
}