html {
  font-size: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html *, html *::before, html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;
  padding: 0rem;
  margin: 0rem;
  background-color: #202020;
  color: black;
  cursor: auto;
}

html body a, html body a:visited, html body a:hover {
  text-decoration: none;
  color: white;
}

html body .button-hover {
  cursor: pointer;
}

html body .button-hover:hover {
  opacity: 85%;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

html body .shadow-dropdown {
  -webkit-box-shadow: 0px 0px 5px lightgray;
          box-shadow: 0px 0px 5px lightgray;
}

html body .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  html body .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  html body .hide-for-desktop {
    display: none;
  }
}

.title-mobile {
  text-align: center;
}

nav {
  color: white;
  text-align: right;
  padding: 1rem;
}

nav .main-page-link {
  text-align: right;
}

.main-container {
  padding: 4rem 0rem 0rem 0rem;
  min-height: 100vh;
  background: linear-gradient(95deg, rgba(49, 104, 136, 0), #161616);
}

@media (min-width: 64em) {
  .main-container {
    padding: 8rem 0rem;
  }
}

@media (min-width: 87.5em) {
  .main-container {
    padding-top: 16rem;
  }
}

@media (min-width: 64em) {
  .sub-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.sub-container .g1-hero {
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}

.sub-container .g1-hero h1 {
  font-size: 4.5rem;
  margin: 0rem;
}

.sub-container .g1-hero h2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0rem;
  margin-bottom: 2rem;
  width: auto;
}

.sub-container .g1-hero .dwn-client {
  margin-bottom: 1.75rem;
}

.sub-container .g1-hero .dwn-btn1, .sub-container .g1-hero .dwn-btn2 {
  font-size: 0.875rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sub-container .g1-hero .dwn-btn1 {
  padding: 1rem;
  background-color: white;
}

.sub-container .g1-hero .dwn-btn1 a {
  color: black;
}

.sub-container .g1-hero .dwn-btn2 {
  padding: 0.875rem;
  background: none;
  border-style: solid;
  border-width: 2px;
  border-color: #CCC9DC;
  position: relative;
  left: .75rem;
}

.sub-container .g1-hero .material-icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-container .g1-hero .pf-icon {
  margin-left: .5rem;
  font-size: 16px;
}

@media (min-width: 64em) {
  .sub-container .g1-hero {
    padding-left: 10rem;
    background-color: none;
    text-align: left;
  }
  .sub-container .g1-hero h2 {
    line-height: 1.25;
    padding: 0rem;
    font-size: 2rem;
    font-weight: 400;
  }
  .sub-container .g1-hero .dwn-client {
    margin-bottom: 0rem;
  }
}

@media (min-width: 87.5em) {
  .sub-container .g1-hero {
    padding-left: 30rem;
  }
}

.sub-container .g2-form {
  text-align: center;
  background-color: #202020;
  width: 22.5rem;
  height: 19.5rem;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  margin-right: auto;
  margin-bottom: 0rem;
  margin-left: auto;
  -webkit-box-shadow: 0px 0px 50px black;
          box-shadow: 0px 0px 50px black;
}

.sub-container .g2-form a {
  color: white;
}

@media (min-width: 64em) {
  .sub-container .g2-form {
    position: relative;
    left: 7rem;
    margin: 0rem;
  }
}

.sub-container .g2-form .log-container, .sub-container .g2-form .pass-container {
  width: 20rem;
  height: 1rem;
  padding: 1.5rem;
  border: 1.25px;
  border-style: solid;
  border-color: none;
  border-radius: 5px;
  margin-bottom: .75rem;
  background-color: #2b2b2b;
  font-size: 0.875rem;
}

.sub-container .g2-form .forget-pass {
  margin: 1rem;
}

.sub-container .g2-form .log-in {
  width: 20rem;
  padding: 1rem;
  color: black;
  background-color: #5f8ba0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
}

.sub-container .g2-form .create-account {
  width: 10rem;
  padding: 1rem;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
}

.sub-container .g2-form .cta-discord {
  color: white;
  position: relative;
  top: 2rem;
}

footer {
  background-color: #202020;
  font-size: 0.75rem;
  color: white;
  padding: 1rem;
}

footer p {
  margin: 0rem;
}

footer a {
  color: grey;
}

footer .site-map a:not(:last-child), footer .legal a:not(:last-child) {
  margin-right: 1rem;
}

footer .site-map p, footer .legal p {
  margin-right: 1rem;
}

@media (min-width: 64em) {
  footer {
    height: auto;
  }
}
/*# sourceMappingURL=styles.css.map */