.main-container-highscores {
    .sub-container-highscores {

        color: rgb(222, 222, 222);

        h1 {
            font-size: $font-xmed;
            margin-top: 0rem;
        }
        h2 {
            margin-top: 0rem;
        }
        a:hover {
            color: white;
        }
        .skill-icon {
            height: 7rem;
        }
        #hs-overall {
            font-size: $font-xmed;
            text-align: center;

            @include breakpoint-up (large) {
                margin-bottom: 0rem;
            }
            @include breakpoint-up (large) {
                text-align: left;
                font-size: $font-xmed;
            }
        }
        .header-highscores {
            text-align: center;
        }
        .sub-header-hs {
            padding: 0rem 1rem;
            margin-bottom: 2rem;

            @include breakpoint-up (large) {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
        .skill-icon-hs {
            height: 75px;
        }
        .filter-skill-hs, .filter-account-hs, .filter-time-hs {
            font-size: $font-sm;
            background-color: white;
            height: 2.75rem;
            width: 10rem;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: .25rem;
            }

            @include breakpoint-up (large) {
                position: relative;
                left: 3rem;
            }
        }
        select {
            appearance: none;
            background-color: transparent;
            border: none;
            border-radius: 2px;
            padding: 0rem 1rem;
            margin: 0;
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            cursor: inherit;
            line-height: inherit;
            outline: none;
        }
        .filter-option-container {
            display:none;
            position:absolute;
            top:100%;
            right:0;
            left:0;
            z-index:999;
        }
        #search-user-hs {
            width: 30.4rem;
            font-size: $font-sm;
            margin-top: .25rem;
            padding: .75rem;
            border: none;
            border-radius: 2px;
            outline: none;

            @include breakpoint-up (large) {
                margin-top: auto;
                width: auto;
            }
        }

        // highscores table

        table {
            text-align: right;
            border-spacing: 1px;

            @include breakpoint-up (medium) {
                width: 95vw;
            }

            th {
                height: 3rem;
                padding: .75rem;
                background-color: rgb(44, 44, 44);
            }
            td {
                height: 3rem;
                text-align: right;
                padding: .5rem;
                background-color: rgb(70, 70, 70);
            }
            #rank {
                width: 5rem;
            }
            #player, #level, #exp {
                width: 10rem;
            }
            #player {
                text-align: left;
                padding-left: 1rem;

                @include breakpoint-up (medium) {
                    padding-left: 2rem;
                }
            }
            .player-hs {
                text-align: right;
            }
        }

        // footer pagination nav

        .pagination-container {
            margin-top: 1rem;

            ul {
                padding-left: 0rem;
                list-style: none;
            }
            .prev-next {
                position: relative;
                bottom: .05rem;
                padding: .5rem .75rem;
                cursor: pointer;

                &:hover {
                    opacity: 70%;
                    transition: opacity 200ms ease-in-out;
                }
                cursor: pointer;
            }
            a {
                background-color: transparent;
                border: solid 1px;
                border-color: grey;
                border-radius: 2px;
                padding: .5rem .75rem;

                &:hover {
                    background-color: rgb(121, 121, 121);
                    border-radius: 2px;
                    transition: background-color 200ms ease-in-out;
                }
            }
            .active {
                background-color: rgb(0, 38, 255);
            }
            .page-dots {
                padding: .3525rem .55rem;
            }
        }
    }
}
