.login-main-container {
    padding: 2rem 0rem 0rem 0rem;
    min-height: 100vh;
    h1 {
        text-align: center;
        color: white;
    }
    h2 {
        margin-top: 0rem;
        color: rgb(222, 222, 222);
    }

    @include breakpoint-up(large) {
        padding: 2rem 0rem;
    }
    @include breakpoint-up(xlarge) {
        padding-top: 6rem;
    }
}
.login-sub-container {
    display: flex;
    justify-content: center;

    .login-form {
        text-align: center;
        background-color: rgb(36, 40, 46);
        width: 22.5rem;
        height: 24.5rem;
        border: none;
        border-radius: 5px;
        padding: 2rem 1rem;
        margin-right: auto;
        margin-bottom: 0rem;
        margin-left: auto;
        box-shadow: 0px 0px 50px black;

        a {
            color: white;
        }

        // log & pass
        .log-container, .pass-container {
            width: 20rem;
            height: 1rem;
            padding: 1.5rem;
            border: 1.25px;

            border-color: none;
            border-radius: 5px;
            margin-bottom: .75rem;
            background-color: rgb(27, 29, 34);;
            color: white;

            font-size: $font-sm;
        }

        // forget password link
        .forget-pass {
            margin: 1rem;
        }


        // buttons
        .log-in {
            width: 20rem;
            padding: 1rem;
            color: white;
            background-color: rgb(38, 62, 82);
            border: none;
            border-radius: 5px;
            cursor: pointer;

            font-size: $font-sm;
            font-weight: 500;
        }

        .create-account {
            width: 10rem;
            padding: 1rem;
            background-color: white;
            border: none;
            border-radius: 5px;
            color: black;
            cursor: pointer;

            font-size: $font-sm;
            font-weight: 500;
        }

        .cta-discord {
            color: white;
            position: relative;
            top: 3rem;
        }
    }
}
